version: '3.9'

services:
  web:
    build: .
    container_name: python_app
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - FLASK_ENV=development
      - PYTHONUNBUFFERED=1
    command: python app.py
    ports:
      - "5000:5000"
    restart: unless-stopped
    tty: true
    stdin_open: true